<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
<meta name="renderer" content="webkit"/>
<meta name="applicable-device" content="pc">
<title>搞笑图片笑死人动态_幽默搞笑笑话图片大全 - 糗事百科</title>
<meta name="keywords" content="搞笑图片,搞笑图片笑死人动态" />
<meta name="description" content="糗事百科官网提供最搞笑图片,搞笑图片笑死人笑话就在糗百网,最幽默爆笑动态图片由亿万糗友挑选出,欢迎收藏与分享搞笑图片网址！"/>

<meta http-equiv="mobile-agent" content="format=xhtml;url=http://www.qiushibaike.com/">
<meta http-equiv="mobile-agent" content="format=html5;url=http://www.qiushibaike.com/">

<meta name="robots" content="noarchive">
<link href="http://static.qiushibaike.com/css/dist/web/app.min.css?v=3494c51b585b01228523e3c6f708cd04" media="screen, projection" rel="stylesheet" type="text/css"/>
<script type="text/javascript">

// Baidu Automatic push content
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "https://hm.baidu.com/hm.js?2670efbdd59c7e3ed3749b458cafaa37";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body>


<div id="header" class="head">
<div class="content-block">
<div class="logo" id="hd_logo">
<a href="/"><h1>糗事百科</h1></a>
</div>
<div id="menu" class="menu-bar menu clearfix" style="margin:0 10px">
<a  href="/" rel="nofollow">热门</a>
<a  href="/hot/">24小时</a>
<a  href="/imgrank/">热图</a>
<a  href="/text/">文字</a>
<a  href="/history/">穿越</a>
<a  id="highlight"  href="/pic/">糗图</a>
<a  href="/textnew/">新鲜</a>
<a  class="fn-signin-required" href="javascript:void(0);" data-go="/article/add" rel="nofollow">投稿</a>
<!--<a href="http://www.youliaodao.cn" target="_blank" rel="nofollow">百科</a>-->
<a href="{:U('Index/allxz')}">一键下载</a>
</div>
<div class="userbar clearfix">
<div class="login hidden">
<a href="/my" class="username" id="uname" rel="nofollow"></a>
</div>
<div class="logout">
<!-- <a href="javascript:void(0);" class="fn-signin-required logintop" id='logintop' rel="nofollow" style="font-size:16.5px;">登录</a> -->
<a href=""></a>
</div>
</div>
</div>
</div>



<div id="content" class="main">
<div class="content-block clearfix">

<div id="content-left" class="col1">


<?php foreach ($arr as $key => $v) { ?>

<div class="article block untagged mb15" id='qiushi_tag_118045181'>

<div class="author clearfix">
<a href="/users/8018539/" target="_blank" rel="nofollow">
<!-- <img src="http://pic.qiushibaike.com/system/avtnew/801/8018539/medium/2016112019591749.JPEG" alt="尼墨"/> -->
</a>
<a href="/users/8018539/" target="_blank" title="尼墨">
<h2>{$v.imgzuozhe}</h2>
</a>
<!-- <div class="articleGender manIcon">32</div> -->
</div>

<a href="/article/118045181" target="_blank" class='contentHerf' >
<div class="content">

<span>{$v.imgtext}</span>
</div>
</a>




<div class="thumb">

<a href="javascript:void(0)" target="_blank">
<img src="__PUBLIC__/loading.gif" data-original="{$v.imgurl}" class="tutu" />

</a>

</div>
  

<div class="stats">
<span class="stats-vote"><i class="number">{$v.imglike}</i> 好笑</span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{:U('Index/imgxz')}?imgurl={$v.imgurl}">下载</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>时间：{$v.imgtime}</span>
<span class="stats-comments">




</span>
</div>
<div id="qiushi_counts_118045181" class="stats-buttons bar clearfix">
<ul class="clearfix">
<li id="vote-up-118045181" class="up">
<a href="javascript:voting(118045181,1)" class="voting" data-article="118045181" id="up-118045181" rel="nofollow">
<i></i>
<span class="number hidden">39</span>
</a>
</li>
<li id="vote-dn-118045181" class="down">
<a href="javascript:voting(118045181,-1)" class="voting" data-article="118045181" id="dn-118045181" rel="nofollow">
<i></i>
<span class="number hidden">-6</span>
</a>
</li>

<li class="comments">
<a href="/article/118045181" id="c-118045181" class="qiushi_comments" target="_blank">
<i></i>
</a>
</li>

</ul>
</div>
<div class="single-share">
<a class="share-wechat" data-type="wechat" title="分享到微信" rel="nofollow">微信</a>
<a class="share-qq" data-type="qq" title="分享到QQ" rel="nofollow">QQ</a>
<a class="share-qzone" data-type="qzone" title="分享到QQ空间" rel="nofollow">QQ空间</a>
<a class="share-weibo" data-type="weibo" title="分享到微博" rel="nofollow">微博</a>
</div>
<div class="single-clear"></div>
</div>
<?php } ?>


<ul class="pagination">
 
{$str}当前为{$page}页


</ul>

</div>


<script type="text/javascript">
     function fun(page){
        var ajax=new XMLHttpRequest();
        ajax.onreadystatechange=function(){
            if(ajax.readyState==4){
                document.getElementById('content').innerHTML=ajax.responseText;
            }
        }
        //ajax.open('get',"{:U('Opus/opus_con')}page="+page);
        ajax.open('get',"{:U('Index/con')}?page="+page);
        ajax.send();
    }
    
</script>
<div class="col2">
<div id="sidebar" class="sidebar">
<div class="shopwindow">
<!-- 55736471：web-右侧固定-up 类型：固定 尺寸：300x250-->
<script type="text/javascript">//<![CDATA[
ac_as_id = "mm_108378320_13540554_55736471";
ac_format = 1;
ac_mode = 1;
ac_group_id = 1;
ac_server_base_url = "afpeng.alimama.com/";
//]]></script>
<script type="text/javascript" src="http://afpmm.alicdn.com/g/mm/afp-cdn/JS/k.js"></script>
</div>
<div class="shopwindow">
<!-- 55736474：web-右侧固定-dn 类型：固定 尺寸：300x250-->
<script type="text/javascript">//<![CDATA[
ac_as_id = "mm_108378320_13540554_55736474";
ac_format = 1;
ac_mode = 1;
ac_group_id = 1;
ac_server_base_url = "afpeng.alimama.com/";
//]]></script>
<script type="text/javascript" src="http://afpmm.alicdn.com/g/mm/afp-cdn/JS/k.js"></script>
</div>



<div class="sidebar-hot clearfix">

</div>
<div class="sidebar-hot clearfix">

</div>


<div class="shopwindow">
<!-- 55736473：web-右侧悬浮-up 类型：固定 尺寸：300x250-->
<script type="text/javascript">//<![CDATA[
ac_as_id = "mm_108378320_13540554_55736473";
ac_format = 1;
ac_mode = 1;
ac_group_id = 1;
ac_server_base_url = "afpeng.alimama.com/";
//]]></script>
<script type="text/javascript" src="http://afpmm.alicdn.com/g/mm/afp-cdn/JS/k.js"></script>
</div>

<div class="shopwindow">
<!-- 55736475：web-右侧悬浮-dn 类型：固定 尺寸：300x250-->
<script type="text/javascript">//<![CDATA[
ac_as_id = "mm_108378320_13540554_55736475";
ac_format = 1;
ac_mode = 1;
ac_group_id = 1;
ac_server_base_url = "afpeng.alimama.com/";
//]]></script>
<script type="text/javascript" src="http://afpmm.alicdn.com/g/mm/afp-cdn/JS/k.js"></script>
</div>

</div>
</div>



</div>
</div>


<div class="foot">
 <div class="foot-ad">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 16-糗事百科首页底部_BTF_728x90 -->
<ins class="adsbygoogle"
style="display:inline-block;width:728px;height:90px"
data-ad-client="ca-pub-4939841000086153"
data-ad-slot="5196507409"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>

<div class="foot-nav clearfix">
<div class="foot-nav-col">
<h3>
关于
</h3>
<ul>
<li>
<a href="http://about.qiushibaike.com/web_jobs.html#team" target="_blank" rel="nofollow">
关于糗百
</a>
</li>
<li>
<a href="http://about.qiushibaike.com/web_jobs.html#tech" target="_blank" rel="nofollow">
加入我们
</a>
</li>
<li>
<a href="http://about.qiushibaike.com/web_jobs.html#contact" target="_blank" rel="nofollow">
联系方式
</a>
</li>
</ul>
</div>
<div class="foot-nav-col">
<h3>
帮助
</h3>
<ul>
<li>
<a href="http://about.qiushibaike.com/feedback.html" target="_blank" rel="nofollow">
在线反馈
</a>
</li>
<li>
<a href="http://about.qiushibaike.com/agreement.html" target="_blank" rel="nofollow">
用户协议
</a>
</li>
<li>
<a href="http://about.qiushibaike.com/policy.html" target="_blank" rel="nofollow">
隐私政策
</a>
</li>
</ul>
</div>
<div class="foot-nav-col">
<h3>
下载
</h3>
<ul>
<li>
<a href="http://android.myapp.com/android/appdetail.jsp?appid=107431&icfa=15144196000105020000&lmid=2031"
target="_blank" rel="external nofollow">
Android 客户端
</a>
</li>
<li>
<a href="http://itunes.apple.com/app/id422853458" target="_blank" rel="external nofollow">
iPhone 客户端
</a>
</li>
</ul>
</div>
<div class="foot-nav-col">
<h3>
关注
</h3>
<ul>
<li>
<a href="#" class="foot-wechat">
微信
<div class="foot-wechat-tips">
<span class="foot-wechat-icon"></span>
手机扫描二维码关注
</div>
</a>
</li>
<li>
<a href="http://weibo.com/qiushibaike" target="_blank" rel="external nofollow">
新浪微博
</a>
</li>
<li>
<a href="http://user.qzone.qq.com/1492495058" target="_blank" rel="external nofollow">
QQ空间
</a>
</li>
</ul>
</div>
<div class="foot-nav-col">
<h3>
组织
</h3>
<ul>
<li>
<a href="http://shang.qq.com/wpa/qunwpa?idkey=da34d190ca97a0b21d64ebc6f3ab72c076ed35820e629b78fcf9f6a78f7063cd"
target="_blank" rel="external nofollow">
网站反馈群
</a>
</li>
<li>
<a href="http://user.qzone.qq.com/1492495058/blog/1408597608" target="_blank"
rel="external nofollow">
官方粉丝群
</a>
</li>
</ul>
</div>
</div>
<div class="foot-copyrights">
<p>&copy; Qiushibaike.com 糗事百科版权所有</p>
<p>
<span>京ICP备14028348号-1</span>
<span>京ICP证140448号</span>
<span>
<a style='color:#333' target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502031601" rel="nofollow"><img style='vertical-align: top;' src="/static/images/beian.png?v=d0289dc0a46fc5b15b3363ffa78cf6c7" />京公网安备11010502031601号</a>
</span>
</p>
</div>
</div>


<!--[if gte IE 6]>
<script type="text/javascript" src="http://static.qiushibaike.com/js/src/web/json3.js?v=3a7f66a11a09842cd7555fad039657be"></script>
<![endif]-->
<script type="text/javascript" src="http://static.qiushibaike.com/js/dist/web/libs.min.js?v=bc8ddd36f0e7fed7c27f437c17f23ce0"></script>
<script type="text/javascript" src="http://static.qiushibaike.com/js/dist/web/app.min.js?v=1992842dca39240be70a7c748de59d1c"></script>



<script type="text/javascript">
// Google Analytics
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-8780108-1', 'auto');
ga('send', 'pageview');
</script>
</body>
</html>
<SCRIPT src="__PUBLIC__/Home/js/jquery-1.7.2.js" type=text/javascript></SCRIPT>  
<SCRIPT src="__PUBLIC__/Home/js/jquery.lazyload.min.js" type=text/javascript></SCRIPT>  
  
<script type="text/javascript" charset="utf-8">  
      $(function() {  
          $("img").lazyload({   
          placeholder : "__PUBLIC__/loading.gif",  
                 effect: "fadeIn"  
           });    
      });  
//详细：http://www.cnblogs.com/tinyphp/archive/2013/04/09/3009385.html  

</script> 